@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'Manrope', sans-serif;
  font-family: 'Montserrat Alternates', sans-serif;
}

.form-container::-webkit-scrollbar {
  width: 15px;
}

.form-container::-webkit-scrollbar-track {
  border-radius: 100px;
  margin-top: 40px;
}

.form-container::-webkit-scrollbar-thumb {
  background-color: #26c0ab46;
  border-radius: 100px;
  background-clip: content-box;
  border: solid 5px transparent;
}

.form-container::-webkit-scrollbar-thumb:hover {
  background-color: #26c0ab;
}

.form-container {
  transition: background-color; 
  transition-duration: all;
}

.buttonWrapper {
  padding: 3px;
  border-radius: 999px;
  background-color: transparent;
  background-image: conic-gradient(
    #26c0ab 250deg,
    white 360deg
  );
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  100% {
    transform: rotate(-360deg);
  }
}

.createButton {
  animation: rotate-clockwise 2s infinite linear;
}

@keyframes rotate-clockwise {
  100% {
    transform: rotate(360deg);
  }
}




